body {
  background: linear-gradient(to bottom, purple, black);
  margin: 0;
  padding: 0;
  height: fit-content;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
}
nav {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.candal-regular {
  font-family: "Candal", sans-serif;
  font-weight: 400;
  font-style: normal;
}
